
.menu-button {
	-fx-background-color: rgba(0.0,0.0,0.0,0.3);
	-fx-text-fill: white;
	-fx-pref-height:55.0px;
	-fx-pref-width:100.0px;
	-fx-border-color:rgba(150.0,150.0,150.0,0.8) ;
	-fx-border-radius: 3.0px;
	-fx-background-radius:3.0px;
	-fx-font-family: "Segoe UI Semibold";
	-fx-font-size: 16.0;
	-fx-text-fill: rgba(255.0,255.0,255.0, 0.8);
	
}
.menu-button:hover {
	-fx-background-color:rgba(75.0,75.0,120.0,0.4);
}
.menu-button:pressed {
	-fx-text-fill: BLACK;
	-fx-background-color:rgba(200,200,200,0.5);
}
#lost-button {
	-fx-border-color: brown;
	-fx-text-fill: #A52A2A;
	/*-fx-background-color: rgba(0,0,0,0.6);*/
}
#win-button {
	-fx-border-color: gold;
	-fx-text-fill: gold;
}
.label{
	-fx-font-size: 14.0;
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: rgba(255.0,255.0,255.0);
}